.dark , .dark ul, .dark input{
    color: white !important;
    background-color: rgba(0, 0, 0, 0.596) !important;
}

.dark label{
    color: white !important;
}

.load-page{
    text-align: center !important;
}